# OSX
#
.DS_Store

#executables
nim_mic_vad_streaming/vad_stream.exe

#inputted and outputted files
inputs-outputs/1-voice-output/*.txt
inputs-outputs/2-ai-input/*.txt
inputs-outputs/3-ai-output/*.txt

#DeepSpeech
DeepSpeech-examples
DeepSpeech-models/*.pbmm
DeepSpeech-models/*.scorer
DeepSpeech-models/deepspeech-0.9.3-models.scorer:Zone.Identifier
nim_mic_vad_streaming/libdeepspeech.so