# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

#inputted and outputted files
output-ai/*.txt
output-voice/*.txt

#DeepSpeech
DeepSpeech-examples
DeepSpeech-models/*.pbmm
DeepSpeech-models/*.scorer
nim_mic_vad_streaming/libdeepspeech.so