# OSX
#
.DS_Store

#executables
*.exe

#inputted and outputted files
inputs-outputs/1-voice-output/*.txt
inputs-outputs/2-ai-input/*.txt
inputs-outputs/3-ai-output/*.txt

#DeepSpeech
DeepSpeech-models/*.pbmm
DeepSpeech-models/*.scorer
DeepSpeech-models/*.Identifier
nim_mic_vad_streaming/libdeepspeech.so